body {
    padding-top: 0px;
}

div.phoneDiv {
    width: 360px;
    height: 725px;
    position: fixed;
    left: 50%;
    margin-left: -180px;
    background: url("/img/phoneFrame.png") ;
}

div.title {
    width: 160px;
    height: 30px;
    font-family: "楷体";
    font-size: 22px;
    text-align: center;
    position: absolute;
    left: 95px;
    top: 108px;
}

div.subtitle {
    width: 90px;
    height: 30px;
    font-family: "serif";
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    position: absolute;
    left: 40px;
    top: 145px;
}

div.backButton {
    position: absolute;
    left: 30px;
    top: 105px;
    width: 30px;
    height: 30px;
}

div.dataArea {
    width: 280px;
    height: 100px;
    position: absolute;
    left: 40px;
    top: 175px;
    border-radius: 15px;
    border: 1px solid black;
}

div.data1 {
    width: 60px;
    height: 70px;
    position: absolute;
    left: 8px;
    top: 10px;
}

div.data2 {
    width: 60px;
    height: 70px;
    position: absolute;
    left: 76px;
    top: 10px;
}

div.data3 {
    width: 60px;
    height: 70px;
    position: absolute;
    left: 144px;
    top: 10px;
}

div.data4 {
    width: 60px;
    height: 70px;
    position: absolute;
    left: 212px;
    top: 10px;
}

div.dataName {
    text-align: center;
    font-family: "宋体";
    font-size: 15px;
}

div.yesterday {
    float: left;
    text-align: left;
    font-family: "宋体";
    font-size: 12px;
    width: 25px;
}

div.dataNum1 {
    text-align: center;
    font-family: "黑体";
    font-size: 20px;
    font-weight: bold;
    color: #AB32D4;
}

div.dataNumYesterday1 {
    float: left;
    text-align: left;
    font-family: "黑体";
    font-size: 12px;
    font-weight: bold;
    color: #AB32D4;
    width: 35px;
}

div.dataNum2 {
    text-align: center;
    font-family: "黑体";
    font-size: 20px;
    font-weight: bold;
    color: #CE0505;
}

div.dataNumYesterday2 {
    float: left;
    text-align: left;
    font-family: "黑体";
    font-size: 12px;
    font-weight: bold;
    color: #CE0505;
    width: 35px;
}

div.dataNum3 {
    text-align: center;
    font-family: "黑体";
    font-size: 20px;
    font-weight: bold;
    color: #17B9B9;
}

div.dataNumYesterday3 {
    float: left;
    text-align: left;
    font-family: "黑体";
    font-size: 12px;
    font-weight: bold;
    color: #17B9B9;
    width: 35px;
}

div.dataNum4 {
    text-align: center;
    font-family: "黑体";
    font-size: 20px;
    font-weight: bold;
    color: #BBA7A7;
}

div.dataNumYesterday4 {
    float: left;
    text-align: left;
    font-family: "黑体";
    font-size: 12px;
    font-weight: bold;
    color: #BBA7A7;
    width: 35px;
}

div.timeDiv {
    width: 280px;
    height: 30px;
    position: absolute;
    top: 70px;
    left: 8px;
}

form.timeForm {
    width: 280px;
    height: 30px;
}

div.yearInput {
    float: left;
    font-family: serif;
    font-size: 15px;
    width: 70px;
    height: 25px;
}

div.monthInput {
    float: left;
    font-family: serif;
    font-size: 15px;
    width: 70px;
    height: 25px;
}

div.dayInput {
    float: left;
    font-family: serif;
    font-size: 15px;
    width: 70px;
    height: 25px;
}

div.confirmButton {
    float: left;
    font-family: serif;
    font-size: 15px;
    width: 70px;
    height: 25px;
}

div.yearInput input {
    display: inline-block;
    width: 50px;
    height: 20px;
}

div.monthInput input {
    display: inline-block;
    width: 50px;
    height: 20px;
}

div.dayInput input {
    display: inline-block;
    width: 50px;
    height: 20px;
}

div.confirmDiv {
    width: 40px;
    height: 20px;
    background-color: #e6b900;
    color: white;
    font-family: 黑体;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}

div.chartButton {
    position: absolute;
    left: 40px;
    top: 280px;
    width: 280px;
    height: 40px;
}

div.newConfirm {
    width: 80px;
    height: 40px;
    position: absolute;
    left: 8px;
    border-radius: 10px;
    background: #F1B4B4;
    color: white;
    font-family: 黑体;
    font-size: 16px;
    text-align: center;
}

div.accumulatedConfirm {
    width: 80px;
    height: 40px;
    position: absolute;
    left: 96px;
    border-radius: 10px;
    background: #F1B4B4;
    color: white;
    font-family: 黑体;
    font-size: 16px;
    text-align: center;
}

div.accumulatedCureDead {
    width: 80px;
    height: 40px;
    position: absolute;
    left: 184px;
    border-radius: 10px;
    background: #F1B4B4;
    color: white;
    font-family: 黑体;
    font-size: 16px;
    text-align: center;
}